:root {
  --color-primary-100: #cdf9e4;
  --color-primary-200: #9df4d2;
  --color-primary-300: #67debc;
  --color-primary-400: #3fbea4;
  --color-primary-500: #109385;
  --color-primary-600: #0b7e7c;
  --color-primary-700: #086269;
  --color-primary-800: #054755;
  --color-primary-900: #033546;
  --color-success-100: #e5fbd4;
  --color-success-200: #c6f7aa;
  --color-success-300: #9be97b;
  --color-success-400: #71d357;
  --color-success-500: #3bb728;
  --color-success-600: #249d1d;
  --color-success-700: #148316;
  --color-success-800: #0c6a16;
  --color-success-900: #075716;
  --color-info-100: #caf6fd;
  --color-info-200: #97e7fc;
  --color-info-300: #62cff6;
  --color-info-400: #3bb3ed;
  --color-info-500: #008be2;
  --color-info-600: #006bc2;
  --color-info-700: #0050a2;
  --color-info-800: #003983;
  --color-info-900: #00286c;
  --color-warning-100: #fcf1ca;
  --color-warning-200: #fae096;
  --color-warning-300: #f1c660;
  --color-warning-400: #e3aa38;
  --color-warning-500: #d18400;
  --color-warning-600: #b36a00;
  --color-warning-700: #965300;
  --color-warning-800: #793e00;
  --color-warning-900: #643000;
  --color-danger-100: #fdded5;
  --color-danger-200: #fbb7ab;
  --color-danger-300: #f48680;
  --color-danger-400: #ea5f64;
  --color-danger-500: #dd2e45;
  --color-danger-600: #be2144;
  --color-danger-700: #9f1742;
  --color-danger-800: #800e3d;
  --color-danger-900: #6a0839;

  --primary: var(--color-primary-500);
  --deep-primary: var(--color-primary-700);
  --light-primary: var(--color-primary-300);

  --success: var(--color-success-500);
  --deep-success: var(--color-success-700);
  --light-success: var(--color-success-300);

  --info: var(--color-info-500);
  --deep-info: var(--color-info-700);
  --light-info: var(--color-info-300);

  --warning: var(--color-warning-500);
  --deep-warning: var(--color-warning-700);
  --light-warning: var(--color-warning-300);

  --danger: var(--color-danger-500);
  --deep-danger: var(--color-danger-700);
  --light-danger: var(--color-danger-300);

  --theme-color: var(--primary);
}
