.calender {
  width: 250px;
}

.calender.year .calender__item span {
  width: 50px;
}
.calender.month .calender__item span {
  width: 24px;
}
.calender.date .calender__item span {
  width: 24px;
}
.calender__arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.calender__arrow .text {
  flex: 1;
  text-align: center;
  font-weight: bold;
}
.calender__arrow .iconfont {
  cursor: pointer;
}
.calender__arrow .arrow-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.calender__main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.calender__item {
  padding: 5px;
  text-align: center;
}
.calender__item span {
  height: 24px;
  line-height: 24px;
  border-radius: var(--base-border-radius);
  background: #ffffff;
  text-align: center;
  display: inline-block;
}
.calender__item:not(.is-select):hover {
  cursor: pointer;
  color: var(--primary);
}
.calender__item.is-select span {
  background: var(--primary);
  color: #ffffff;
}
