.input {
  border: 1px solid var(--Ga3);
  border-radius: var(--base-border-radius);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 8px;
}

.input.small {
  height: var(--size-small);
  line-height: var(--size-small);
}
.input.middle {
  height: var(--size-middle);
  line-height: var(--size-middle);
}
.input.large {
  height: var(--size-large);
  line-height: var(--size-large);
}

.input__inner {
  flex: 1;
  height: 100%;
  line-height: 100%;
  border: 0;
  outline: transparent;
}
