.todoListWrapper {
  border: 1px solid var(--Ga3);
  background: var(--Wh0);
  width: 365px;
  height: 100%;
  border-radius: var(--base-border-radius);
  padding: 10px;
  margin-right: 10px;
}

.todoListWrapper .main {
  margin-top: 15px;
  height: calc(100% - 27px - 15px - 10px);
}
