:root {
    --Ga0: #F6F7F8;
    --Ga0_s: #F6F7F8;
    --Ga0_t: #F6F7F8;
    --Ga1: #F1F2F3;
    --Ga1_s: #F1F2F3;
    --Ga1_t: #F1F2F3;
    --Ga1_e: #F1F2F3;
    --Ga2: #E3E5E7;
    --Ga2_t: #E3E5E7;
    --Ga3: #C9CCD0;
    --Ga3_t: #C9CCD0;
    --Ga4: #AEB3B9;
    --Ga4_t: #AEB3B9;
    --Ga5: #9499A0;
    --Ga5_t: #9499A0;
    --Ga6: #797F87;
    --Ga6_t: #797F87;
    --Ga7: #61666D;
    --Ga7_t: #61666D;
    --Ga8: #484C53;
    --Ga8_t: #484C53;
    --Ga9: #2F3238;
    --Ga9_t: #2F3238;
    --Ga10: #18191C;
    --Ga10_t: #18191C;
    --Wh0: #FFFFFF;
    --Wh0_t: #FFFFFF;

    --bg1: var(--Wh0);
    --bg2: var(--Ga0);
    --bg3: var(--Ga1);

    --text1: var(--Ga10);
    --text2: var(--Ga7);
    --text3: var(--Ga5);
    --text4: var(--Ga3);

    --mark: rgba(0, 0, 0, 0.7);

    --min-border-radius: 2px;
    --base-border-radius: 4px;
    --middle-border-radius: 8px;
    --big-border-radius: 12px;
    --full-border-radius: 50%;
    --helf-border-radius: 9999px;
}